* {
    box-sizing: border-box;
}

body {
    background-color:#000000;
    font-family: 'Orbitron', sans-serif;
}

.texto-principal {
    margin-right: 20%; 
}

#imagem-principal {
    width: 10%;
    margin-left: 80%;
    border: 5px dotted salmon;
    float: left;
    position: absolute;
}

.itens {
	color:  #5F9EA0;
}

.texto-principal {
    margin-right: 20%; 
}

.cabeçalho {
    width: 98%;
    background-image: url(imagens/livros.jpg);
    border-radius: 5px;
    padding: 5px 0;
    margin: 1% 1% 0 1%;
}

.cabeçalho h1 {
    font-size: 40px;
    text-align: center;
    color: rgb(255, 191, 0);
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 3px 3px #5500af;
}

.cabeçalho h1:last-child:before {
    content: "💾 ";
}

.cabeçalho img {
    height: 150px;
}

nav {
    background: #520000;
    border-radius: 1px;
    width: 98%;
    margin: 0 1%;
    text-align: center;
    position: sticky;
    top: 0;
}

nav li {
    display: inline-block;
    font-size: 25px;
    text-transform: uppercase;
    line-height: 2;
    padding: 1px 3px;
    margin: 0 5% 0 5%;
}

nav a {
    text-decoration: none;
    color: aliceblue;
    font-weight: bold;
    transition: 500ms;
}

nav a:hover {
    text-decoration: underline;
    color: #ed790b;
    text-shadow: 2px 2px #000000;
    font-size: 28px;
}

section {
    width: 94%;
    text-align: center;
    margin: 1% 3%;
    border: solid 4px red;
    background: #ddd;
}

section h2 {
    text-align: center;
    margin: auto 2px;
    line-height: 2.0;
    font-size: 24px;
    font-weight: bolder;
}

.assuntos {
    text-align: center;
}

.assuntos li {
    display: inline-block;
    border: solid 2px rgb(145, 0, 174);
    border-radius: 10px;
    text-align: center;
    width: 30%;
    margin: 1% 5%;
    padding: 2px;
    color: #5500af;
}

.assuntos li h3 {
    font-size: 20px;
    font-weight: bold;
    margin: 5px;
}

.assuntos li img {
    margin: 1%;
    width: 90%
}

.assuntos li p {
    font-size: 16px;
    line-height: 1.5;
}

iframe {
    margin: 1% auto;
}

.sobre p {
    line-height: 1.5;
}

.sobre ul {
    list-style: disc;
    line-height: 1.5;
}

footer {
    background-image: url(imagens/livros-footer.jpeg);
    text-align: center;
    padding: 2%;
    margin: 2%;
    width: 96%;
}

footer img {
    height: 100px;
}

footer p {
    font-size: 15px;
}

footer p::before {
    content: "📓🏫 ";
}

footer p::after {
    content: " 📚💻";
}